@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
	background-color: #F9F9F9;
	font-family: 'Quicksand', sans-serif;
	overflow-x: hidden;
}
h1 {
	font-size: 50px;
}

header.masthead {
	position: relative;
	height: 100vh;	
	background: url(../images/header-image.png);	
	background-color: #000;
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

header.masthead .header-content {
	text-align: center;
	margin: 0;
	width: 100%;
}

header.masthead .header-content {
	bottom: 0;
	text-align: center;
	position: absolute;
}

header.masthead .header-content .header-logo img {
	max-width: 100%;
	width: 500px;
}

@media (min-width:992px) {
header.masthead {
	height: 100vh;
	min-height: 775px;
	padding-top: 0;
	padding-bottom: 0
}	
	
#canvas {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

.header-image {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/header-image.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0;
}
	
#canvas, .header-image {
	visibility: visible!important;
}
}

#canvas, .header-image {
	visibility: hidden;
}


section {
	position: relative;
	padding: 50px 0
}
section h1 {
	color: #970002;
}
section h2 {
	color: #fff200;
}
section p {
	color: #FFF;
	font-size: 25px;
}
section.aboutme {
	min-height: 70vh;
	background-color: #000!important;
	background: url(../images/aboutme.jpg), rgba(0,0,0,1);
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	background-attachment: scroll;
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
}
section.gallery {
	min-height: 70vh;
	background-color: #000!important;
	background: url(../images/section-background-1.jpg);
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}
.btn {
	border-radius: 300px;
	font-family: Sintony, Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase
}
.btn-xl {
	font-size: 11px;
	padding: 15px 45px
}
[data-gallery="gallery"] {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
[data-gallery="gallery"]:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}
.fa {
	padding: 20px!important;
	font-size: 30px!important;
	width: 70px!important;
	height: 70px!important;
	text-align: center!important;
	text-decoration: none!important;
	margin: 5px 2px!important;
	border-radius: 50%!important;
}
.fa:hover {
	opacity: 0.7;
}
.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-twitter {
	background: #55ACEE;
	color: white;
}
.fa-google {
	background: #dd4b39;
	color: white;
}
.fa-linkedin {
	background: #007bb5;
	color: white;
}
.fa-youtube {
	background: #bb0000;
	color: white;
}
.fa-instagram {
	background: #125688;
	color: white;
}
.fa-pinterest {
	background: #cb2027;
	color: white;
}
.fa-snapchat-ghost {
	background: #fffc00;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-skype {
	background: #00aff0;
	color: white;
}
.fa-android {
	background: #a4c639;
	color: white;
}
.fa-dribbble {
	background: #ea4c89;
	color: white;
}
.fa-vimeo {
	background: #45bbff;
	color: white;
}
.fa-tumblr {
	background: #2c4762;
	color: white;
}
.fa-vine {
	background: #00b489;
	color: white;
}
.fa-foursquare {
	background: #45bbff;
	color: white;
}
.fa-stumbleupon {
	background: #eb4924;
	color: white;
}
.fa-flickr {
	background: #f40083;
	color: white;
}
.fa-yahoo {
	background: #430297;
	color: white;
}
.fa-soundcloud {
	background: #ff5500;
	color: white;
}
.fa-reddit {
	background: #ff5700;
	color: white;
}
.fa-rss {
	background: #ff6600;
	color: white;
}
 @keyframes move-clouds-back {
 from {
background-position:0 0;
}
 to {
background-position:10000px 0;
}
}
@-webkit-keyframes move-clouds-back {
 from {
background-position:0 0;
}
 to {
background-position:10000px 0;
}
}
@-moz-keyframes move-clouds-back {
 from {
background-position:0 0;
}
 to {
background-position:10000px 0;
}
}
@-ms-keyframes move-clouds-back {
 from {
background-position: 0;
}
 to {
background-position:10000px 0;
}
}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
